@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gemunu+Libre:wght@300&display=swap');

* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: Arial, Helvetica, sans-serif
}

#corpo {
    width: 100%;
    margin: 0 auto;
}

#dobra01 {
    color: rgb(0, 0, 0);
    height: 700px;
    background-color: #ffc107;
}

#home {
    background-color: #3CB371;
    width: 100%;
    height: 70px;
    color: #fff;
    text-align: center;
    font-size: 40px;
    padding-top: 18px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 10px;
}

#esquerda .torcedoresesquerda {
    float: left;
    width: 700px;
    margin-top: 146px;
}

#direita .torcedoresdireita {
    float: right;
    width: 700px;
    margin-top: 146px;
}

#meio {
    width: 450px;
    text-align: center;
    float: left;
    color: #fff;
}


#meio h1 {
    font-weight: 350;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    color: #fff
}

#meio .atracao {
    margin-top: 55px;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 800;
    font-family: 'Anton', sans-serif;
    font-family: 'Gemunu Libre', sans-serif;
}

.limpa-flutuacao {
    clear: both;
}

.botao1 {
    padding: 15px;
    display: block;
    background: #3CB371;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-top: 150px;
}

#dobra02 {
    background-color: rgb(15, 14, 14);
    color: #fff;
    height: 850px;
}

#dobra02 #esquerda {
    float: left;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 550px;
    text-align: center;
    margin: 190px 0px 0px 150px;
}

#dobra02 #esquerda span {
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
    color: #c9e265
}

#dobra02 #direita .grupotelegram {
    height: 750px;
    float: right;
    width: 450px;
    margin: 50px 140px;
}

.copadomundo {
    color: #ffde59;
}

#dobra03 {
    height: 850px;
    background-color: #363636;
}

.vesteagarra {
    margin: 110px 10px 110px 10px;
    float: left;
    border-radius: 5px;
}

#dobra03 #direita {
    float: right;
    margin: 300px 100px 300px 100px;
}

.um {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.dois {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.tres {
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.tres span {
    color: #daa520;
}

#dobra04 {
    height: 600px;
    background-color: #daa520
}

#esquerdadobra04 {
    float: left;
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin: 200px 180px 200px 180px;
}

#esquerdadobra04 h2 {
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
}

#esquerdadobra04 h3 {
    font-size: 20px;
    font-style: inherit;
    font-weight: 400;
    margin-top: 10px;
}


#esquerdadobra04 h4 {
    font-size: 30px;
    font-style: inherit;
    font-weight: 700;
    margin-top: 5px;
}

#direitadobra04 {
    float: right;
    text-align: center;
    margin: 130px 300px 130px 300px;
}

#direitadobra04 p {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}


input {
    border: 1px solid #363636;
    width: 350px;
    height: 30px;
    font-size: 15px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5 auto;
}

.botao2 {
    padding: 15px;
    display: block;
    background: #3CB371;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    margin-top: 50px;
}

#rodape {
    background-color: gray;
    height: 260px;
    width: 100%;
}

#logo {
    height: 130px;
}

#informacoes {
    display: grid;
    grid-template-columns: 270px 180px 180px 180px auto;
    margin: 0px 500px;
    float: left;
    width: 1000px;
    line-height: 30px;
}

#logo-nome {
    text-align: center;
}

#botao-redes-sociais {
    height: 40px;
    width: 140px;
    display: block;
    border-radius: 20px;
    color: white;
    background-color: crimson;
    border: none;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}

#inicio {
    font-family: sans-serif;
    color: white;
}

#Sobre-nos {
    font-family: sans-serif;
    color: white; 
}

#Suporte {
    font-family: sans-serif;
    color: white;
}